<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zupu.zp">

    <uses-sdk tools:overrideLibrary="cn.jzvd" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- 安卓8.0打开apk安装更新 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 电话权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name=" android.hardware.camera.autofocus" /> <!-- // SDK 必须使用的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- // APP 需要使用的部分权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读出外部存储器 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许使用相机 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".entity.ZegoApplication"
        android:allowBackup="true"
        android:icon="@drawable/zqlog"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".myactivity.FmActivity"></activity>
        <activity android:name=".myactivity.BianJActivity" />
        <activity android:name=".myactivity.CreateZpActivity">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".myactivity.EndLiveActivity" />
        <activity android:name=".myactivity.UrlActivity" />
        <activity android:name=".myactivity.PdfActivity" />
        <activity android:name=".myactivity.ShaoppingmallAivity" />
        <activity
            android:name=".myactivity.SplashActivity"
            android:theme="@style/launch_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myactivity.EdjieTextActivity" />
        <activity android:name=".myactivity.PicActivity" />
        <activity android:name=".myactivity.IssueActivity" />
        <activity android:name=".myactivity.TowmarkActivity" />
        <activity android:name=".myactivity.EdjieActivity" />
        <activity android:name=".myactivity.XuanZemarkActivity" />
        <activity android:name=".myactivity.DwActivity" />
        <activity android:name=".myactivity.OneMrakActivity" />
        <activity android:name=".myactivity.CreatLiveActivity" />
        <activity android:name=".myactivity.Note3Activity" />
        <activity android:name=".myactivity.FindpwdActivity" />
        <activity android:name=".myactivity.PhoneActivity" />
        <activity android:name=".myactivity.RegisterActivity" />
        <activity
            android:name=".myactivity.LogingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".testpakeyge.BaseActivitys" />
        <activity android:name=".testpakeyge.InitSDKPublishActivityUI" />
        <activity android:name=".testpakeyge.LoginRoomPlayActivityUI" />
        <activity android:name=".testpakeyge.PublishActivityUI" />
        <activity android:name=".testpakeyge.PKPublishActivityUI" />
        <activity android:name=".entity.PlaySettingActivityUI" />
        <activity android:name=".testpakeyge.LoginRoomPublishActivityUI" />
        <activity android:name=".testpakeyge.InitSDKPlayActivityUI" />
        <activity android:name=".testpakeyge.PlayActivityUI" />
        <activity android:name=".testpakeyge.PKPlayActivityUI" />
        <activity android:name=".lianmai.ui.JoinLiveMainActivityUI" />
        <activity android:name=".lianmai.ui.JoinLiveLoginPublishUI" />
        <activity android:name=".lianmai.ui.JoinLiveAnchorUI" />
        <activity android:name=".lianmai.ui.JoinLiveAudienceUI" />
        <activity
            android:name=".videocall.ui.VideoCommunicationMainUI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videocall.ui.PublishStreamAndPlayStreamUI"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- 协议部分配置 ,要在web配置相同的 -->
                <data
                    android:host="jump"
                    android:scheme="zongqingzp" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/transparency_theme_light" />

        <service
            android:name=".service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" /> <!-- permission属性在2.13.1.0版本后必须配置 -->
        <service
            android:name=".service.DemoIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.Myservice" />
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f1836e7302e2790270318e90e5e6fe14" />

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".picutli.image.ImagePagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>